* {
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color:white;
  color: rgb(71, 71, 71);
  font-family: 'Lato', Arial , sans-serif;
  font-weight: 100;
  font-size:15px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}



.popup {
    position: fixed;
    width: 140%;
    height: 200%;
    top: 0;
    left: -250px;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 35%;
    right: 30%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
  }

  .list-container li {
    padding: 15px;
    margin-left: -70px
  
  }

  .list-container input {
    margin-right: 50px;
    float: right;
    margin-right: 160px
    
  }

  .list_item {
    list-style-type: none;
    padding: 10px;
    margin-left:90px;
  }

  

  a, a:link,
  a:visited {
      color: rgb(83, 196, 196);
      text-decoration: none;
      margin-top: 200px;
      font-size: 15px;
      margin-left: 100px;

      
  
      }
  
  a, a:hover,
  a:active {
      color:  rgb(49, 131, 131);
  } 

  
  .row {
    display:flex;
  }

  .column {
    flex: 33.3%;
    padding: 1px;
  }
  
  .invalid_data {
    color: red;
    margin-left: 335px;
    font-size: 10px;
    
    
  }
  
.err {
  color: red;
  display: block
}


























