* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    background-image: url("images/pexels-photo-374870");
    background-color:rgb(241, 236, 236);
    color: rgb(141, 138, 138);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:14px;
    text-rendering: optimizeLegibility;
}

/*---------------------IMAGE-----------------*/

figure img {
    margin-top: 40px;
    margin-left: 720px;
    font-size: 650%;
    
    }

/*---------------------FORM------------------*/

.form {
    width: 25%;
    height: 40;
    margin: 0 auto;
    border: 1px solid rgb(219, 216, 216);
    background-color: white;
    padding: 20px;
    padding-bottom: 60px;
    margin-top:50px;
    -webkit-box-shadow: 0 2px 2px rgb(231, 231, 231);
            box-shadow: 0 2px 2px rgb(231, 231, 231);

}

.form input {
    margin-top: -6px;
}

.form div {
    padding: 5px;
}

/*---------------------BUTTON------------------*/


.btn {
    float: right;
    margin-top: -30px;
    color: rgb(141, 138, 138);
    margin-right: -5px;
    
}
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
   
}

.btn:link,
.btn:visited {
    background-color: #5789b8;
    color: white;
    
    
}

.btn:hover,
.btn-active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #4055a0;

}

/*---------------------FORM------------------*/
input[type=text],
input[type=password]
 {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(197, 193, 193);
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
    zoom: 1.5;
    
}

.box input{
    float: left;
    opacity: 0;
    height: 0;
    width: 0;

}

.checkmark {
    position: absolute;
    margin-top: 5px;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid gray;
    margin-left: -10px;

}


.box:hover input ~ .checkmark {
    background-color: #ccc;
  }

.box input:checked ~ .checkmark {
    background-color: red;
  }

.checkmark::after{
    content: "";
    position: absolute;
    display: none;  
  }
  
.box input:checked ~ .checkmark:after {
    display: block;
  }

.box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.box p {
    margin-left:30px;
    margin-top: 5px;
    
}

/*---------------------SUPPORT TEXT------------------*/

.support-text {

    text-align: left;
    margin-left: 600px;
    margin-top: 20px;
    

}

.support-text p {
    padding: 10px;
}














