@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: Roboto;
    padding: 50px;
    background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pizza {
    max-width: 800px;
    height: 240px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 30px 80px rgba(0,0,0,0.2);
    display: flex;
    align-items: stretch;

    
}

.pizza__hero {
    flex: 0 0 45%;

}

.pizza__img {
    width: 100%;
    display: block;
}

.pizza__content {
    flex: 1;
    background: white;
    align-self: stretch;
    
}

.pizza__price {
    flex: 0 0 50px;
    background: linear-gradient(to bottom, #67b26f, #4ca2cd);
    color: white;
    font-size: 18px;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
}