* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    /* background-image: linear-gradient(rgba(252, 247, 247, 0.541), rgba(209, 204, 204, 0.986)),url("images/pexels-photo-374870\ \(1\).jpeg"); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(141, 138, 138);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:14px;
    text-rendering: optimizeLegibility;
}





/*---------------------FORM------------------*/

.heading {
    font-size : 40px;
    text-align: center;
    color: rgb(197, 195, 195);
    margin-bottom: 50px;
}

.form {
    /* background: linear-gradient(to bottom right, rgb(45, 78, 141), rgba(204, 90, 204, 0.932)); */
    width: 30%;
    height: auto;
    margin: 0 auto;
    border-radius: 12px;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid rgb(187, 183, 183);
    /* -webkit-box-shadow: 0 2px 2px rgb(179, 157, 157);
            box-shadow: 0 2px 2px rgb(231, 231, 231); */

}

.form div {
    padding: 20px;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(180, 179, 179);
    opacity: 1; /* Firefox */
  }

/*---------------------BUTTON------------------*/


.btn {
    margin-left: 150px;
}


.btn:link,
.btn:visited {
    padding: 10px 50px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 50px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
   
}



/*---------------------FORM------------------*/
input[type=text],
input[type=password],
input[type=email]

 {
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 6px;
    background: transparent;
}




 
.header{
    text-align: center;
    font-size: 300%;
    color: rgb(180, 179, 179);
}

 .header p {
     display: inline-block;
 }


 .header h1 {
     padding-top: 20px;
     font-size: 60%;
 }

 

