/*big tablet to 1200px*/ 
@media only screen and (max-width:1200px){
    .hero-text-box {
        width: 100%;
        padding: 0 2%;       
    }

    .row {padding: 0 2%; }
    
/*small tablet to big tablet: from 768 to 1023px*/
@media only screen and (max-width:1023px){
    body {font-size: 18px;}
    section {padding: 60px 0;}
    .long-copy{
        width: 80%;
        margin-left: 10%;
        }
        .steps-box { margin-top: 10px;}
        .steps-box:last-child { margin-top: 10px;}
        .works-step { margin-bottom: 40px;}
        .works-step:last-of-type {margin-bottom: 60px;}

        .app-screen {width:50%;}

        .icon-small {
            width: 16px;
            margin-right: 1px;
        }
        
        .city-feature {
            font-size: 80%;}

        .plan-box {
            width:100%;
            margin-left: 0%;
        }
    }



/*small phones to small tablets 481 to 767*/ 
@media only screen and (max-width:767px){

        body { font-size: 14px;}
        section { padding: 20px 0;}

        .row,
        .hero-text-box { padding: 0 3%;}

        .col { width:100%; }








}


/*small phones: from 0 to 480px*/
@media only screen and (max-width:480px){

}