* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    background-color:rgb(250, 245, 245);
    color: rgb(71, 71, 71);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size:15px;
    text-rendering: optimizeLegibility;
}

/*---------------------ICON-----------------*/

.icon-big {
    margin-top: 40px;
    margin-left: 720px;
    font-size: 550%;
    color: #493ea7;
    }

/*---------------------FORM------------------*/

.form {
    width:25%;
    height: auto;
    margin: 0 auto;
    border: 1px solid rgb(219, 216, 216);
    background-color: white;
    padding: 20px;
    padding-bottom: 60px;
    margin-top:50px;
    -webkit-box-shadow: 0 2px 2px rgb(231, 231, 231);
            box-shadow: 0 2px 2px rgb(231, 231, 231);

}

.form input {
    margin-top: -6px;
}

.form div {
    padding: 5px;
}

/*---------------------BUTTON------------------*/


.btn {
    float: right;
    margin-top: -25px;
    
}
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 70px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
   
}

.btn:link,
.btn:visited {
    background-color: #493ea7;
    color: white;
    margin-right: 15px;
    
}

.btn:hover,
.btn-active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #1940befb;

}

/*---------------------FORM------------------*/
input[type=text],
input[type=password]
 {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(197, 193, 193);
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
    zoom: 1.5;
    
    
  
}

.box input{
    float: left;
    opacity: 0;
    height: 0;
    width: 0;

}

.checkmark {
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid gray;
    margin-left: -10px;

}

.box p {
    margin-left:30px;
    margin-top: 1.6px;
    
}

/*---------------------SUPPORT TEXT------------------*/

.support-text {

    text-align: left;
    margin-left: 600px;
    margin-top: 20px;
    

}

.support-text p {
    padding: 10px;
}














